@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  @keyframes fall {
    0% {
      transform: translateY(-100px) rotate(0deg);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateY(100vh) rotate(360deg);
      opacity: 0;
    }
  }


  @keyframes heart {
    0% {
      transform: scale(1);
      opacity: 0.8;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0.8;
    }
  }


  .animate-fall {
    animation: fall infinite ease-in-out;
  }

  .animate-heart {
    animation: heart infinite ease-in-out;
  }
}
